<!DOCTYPE html>
<html ng-app="ExpenseApp">

<head>
    <title>FinTech</title>
    <!--Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta http-equiv='Cache-control' content='no-cache' />
    <meta http-equiv='Expires' content='-1' />
    <meta http-equiv='pragma' content='no-cache' />


    <!--FAVICON-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!--CSS-->
    <link href="css/common.css" rel="stylesheet" />
    <link href="css/materialize.min.css" rel="stylesheet" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div class="page-wrap" ng-controller="dashBoardController as dvm">

        <header>
            <!--Polygon shaper side nav backbground-->
        </header>

        <div class="leftside-nav">
            <a href="#/" class="dashboard-logo"><i class="material-icons">view_array</i><h4>FinTech</h4></a><br />
            <div class="row">

                <form class="col s12" name="loginForm">


                    <div class="col s12 m12 l12">

                        <input id="icon_prefix" type="text" class="validate" ng-model="dvm.desc[dvm.count]" name="userName" required>

                        <p ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine" class="help-block">This field is required!.</p>
                    </div>

                    <div class="col s12 m12 l12">

                        <input id="icon_prefix" type="text" class="validate" ng-model="dvm.price[dvm.count]" name="userPwd" required>

                        <p ng-show="loginForm.userPwd.$invalid && !loginForm.userPwd.$pristine" class="help-block">This field is required</p>
                    </div>

                    <div class="input-field col s12" ng-if="dvm.loginError">
                        Please provide valid credentials

                    </div>
                    <div class="col l12 m12 s12" style="margin-top: 1.5em;">
                        <a class="waves-effect waves-light btn blue" ng-disabled="loginForm.$invalid" ng-click="dvm.addRow(dvm.count)"><i class="material-icons left">done</i>Add</a>
                        <a class="waves-effect waves-light btn green" ng-disabled="loginForm.$invalid" ng-click="dvm.addReview(dvm.count)"><i class="material-icons left">star</i>Review</a>
                    </div>
                </form>
            </div>

        </div>



        <div class="layout-btns-grid">
            <h6>Choose a layout</h6>
            <i class="material-icons" ng-class="{'active':dvm.LayoutClass=='grid'}" ng-click="dvm.setLayout('grid')">view_module</i>

            <i class="material-icons" ng-class="{'active':dvm.LayoutClass=='list'}" ng-click="dvm.setLayout('list')">storage</i>
        </div>


        <!--This is where different route's view are displayed-->
        <!--<div ng-view></div>-->
        <div class="dashboard-container">

            <div class="col s12">
                <div class="row">

                    <div class="input-field col s12 m6 l4">

                        <div class="switch">
                            <label>
				     <span style="color:white;font-weight:bold;text-decoration:underline">Price:</span> &nbsp;&nbsp; Asc
				  <input id="my-switch" ng-click="dvm.priceOrder = !dvm.priceOrder" type="checkbox">{{dvm.order}}
			  	<span class="lever"></span>
               Des
			</label>
                        </div>
                    </div>
                    <div class="input-field col col s12 m6 l8">
                    
                        <i class="material-icons prefix">search</i>
                        <input id="query" type="text" ng-model="dvm.query" value="{{dvm.query}}" class="autocomplete">
                   



                    </div>
                </div>
            </div>
            <div class="dashboard-scroll">

                <div ng-repeat="d in dvm.data  | orderBy:movie.order:dvm.priceOrder | filter:dvm.query track by $index">

                    <div class="dashboard-item" ng-class="dvm.LayoutClass">
                     
                        <div class="dashboard-texts">


                            <div class="long-text">
                                <span>
                                     <i class="material-icons">label_outline</i>
                                      Description : {{d.desc}}
                                    </span> <br/>
                                <span>
                                     <i class="material-icons">code</i>
                                      price : {{d.price}}
                                    </span> <br/>
                                <span ng-if="d.star" class="like-btns-grid">
                                        <i class="material-icons ">stars</i>
                                     
                                    </span>

                            </div>
                        </div>
                        <div class="clearFloats"></div>
                    </div>


                </div>

            </div>

        </div>

    </div>





    <!--JS-->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="ng_app/App.js"></script>

    <!--Dashboard Module-->

    <script src="ng_app/components/dashBoard/dashBoard.controller.js"></script>
    <script src="ng_app/components/dashBoard/dashBoard.module.js"></script>


</body>

</html>